.git
.gitignore
.dockerignore

.env
.env.*

/.venv/
/nyc_geom_db/

__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/

.vscode/
.idea/

*.duckdb
*.duckdb.wal
data/imagery/

*.swp
.gitignore.bak
